:root {
    --primary-color: #FFD15B;
    --secondary-color: #E5E5E5;
}

/* Header */
#header {
    background-image: url("/img/recipes/Recette40.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    height: 667px;
}

.search-icon {
    position:absolute;
    right: 10px;
}

#logo {
    width: 200px;
}

h1 {
    font-size: 44px;
    font-weight: 400;
    line-height: 66px;
    font-family: 'Anton', sans-serif;
    color: var(--primary-color);
}

/*#header input[type="search"] {
    background-image: url("/img/assets/search.png");
    background-size: auto;
    background-position: 99%;
    background-repeat: no-repeat;
}*/

/* Main */

#main {
    background-color: var(--secondary-color);
}

#main h3 {
    font-size: 21px;
    line-height: 31px;
    font-family: 'Anton', sans-serif;
}

/* .button-radius {
    border-radius: 10px;
} */

/* Cards */

.card-title {
    font-family: 'Anton', sans-serif;
}

.card-subtitle {
    color: gray;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card-img-top {
    height: 219px;
    object-fit: cover;
}

.card-recipe-time {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
}

.card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
            line-clamp: 4; 
    -webkit-box-orient: vertical;
 }